@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rowdies:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

body {
  background: rgb(11, 11, 11);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  backdrop-filter: blur(15px);
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.display {
  color: white;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  position: absolute;
  position: center;
  transition: top 300ms, font-size 300ms, filter 300ms;
}

.move-up {
  top: 80px;
  font-size: 40px;
  filter: blur(0);
}


.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 75px;
  
}

.controls button:hover {
  opacity: 0.6;
  cursor: pointer;
}



button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  outline: none;
  border: none;
}

/* lap-style  */
.lap {
  height: 50vh;
  overflow-y: scroll;
  color: rgb(218, 213, 220);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 500ms;
}

.show-lap {
  opacity: 1;
}

.lap::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.lap p {
  display: flex;
  gap: 3rem;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  
}


@media (min-width: 650px) {
  .display {
    font-size: 80px;
    top: 100px;
    transition: top 300ms, font-size 300ms, filter 300ms;
    top: 250px;
  }
  .controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 55px;
  }

  .move-up {
    top: 80px;
    font-size: 45px;
    filter: blur(0);
  }
}

@media (min-width: 850px) {
  .display {
    font-size: 95px;
    position: center;
    top: 200px;
    transition: top 300ms, font-size 300ms, filter 300ms;
  }

  .move-up {
    top: 50px;
    font-size: 70px;
    filter: blur(0);
  }
}


.start-icon, .pause-icon, .reset-icon, .flag-icon {
  width: 24px;
  height: 24px;
  fill: #000; /* Change the fill color as needed */
}


.start-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.17 2.17 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11'/%3E%3C/svg%3E");
}


.pause-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14 19V5h4v14zm-8 0V5h4v14z'/%3E%3C/svg%3E");
}


.reset-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' d='M20 8c-1.403-2.96-4.463-5-8-5a9 9 0 1 0 0 18a9 9 0 0 0 9-9m0-9v6h-6'/%3E%3C/svg%3E");
}


.flag-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M16.577 8.526L6.658 5.219c-.3-.1-.45-.15-.554-.075C6 5.22 6 5.377 6 5.694V13l10.577-3.526c.588-.196.882-.294.882-.474s-.294-.278-.882-.474'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-width='2' d='M6 13V5.694c0-.317 0-.475.104-.55c.104-.075.254-.025.554.075l9.919 3.307c.588.196.882.294.882.474s-.294.278-.882.474zm0 0v6'/%3E%3C/g%3E%3C/svg%3E");
}


.start-icon:hover, .pause-icon:hover, .reset-icon:hover, .flag-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

